.MainChat
  .GroupInfo
    .GroupInfo__Group
      .GroupInfo__Group__name
        %p グループ名
      .GroupInfo__Group__member
        %p Member :
    = link_to "Edit", "#", class: "GroupInfo__button"
  .MessageList
    .MessageList__MessageBox
      .MessageList__MessageBox__MessageInfo
        .MessageList__MessageBox__MessageInfo__name
          %p ユーザー名
        .MessageList__MessageBox__MessageInfo__date
          %p 2020年06月04日 20時30分
      .MessageList__MessageBox__message
        %p ここにメッセージが入ります
    .MessageList__MessageBox
      .MessageList__MessageBox__MessageInfo
        .MessageList__MessageBox__MessageInfo__name
          %p ユーザー名
        .MessageList__MessageBox__MessageInfo__date
          %p 2020年06月04日 20時30分
      .MessageList__MessageBox__message
        %p ここにメッセージが入ります
    .MessageList__MessageBox
      .MessageList__MessageBox__MessageInfo
        .MessageList__MessageBox__MessageInfo__name
          %p ユーザー名
        .MessageList__MessageBox__MessageInfo__date
          %p 2020年06月04日 20時30分
      .MessageList__MessageBox__message
        %p ここにメッセージが入ります
    .MessageList__MessageBox
      .MessageList__MessageBox__MessageInfo
        .MessageList__MessageBox__MessageInfo__name
          %p ユーザー名
        .MessageList__MessageBox__MessageInfo__date
          %p 2020年06月04日 20時30分
      .MessageList__MessageBox__message
        %p ここにメッセージが入ります
  .MessageForm
    %form.MessageForm__Form
      .MessageForm__Form__FormContents
        %input.MessageForm__Form__FormContents__text{placeholder: "type a message"}
        %label.MessageForm__Form__FormContents__image{for: "form-image"}
          %i.far.fa-image
          %input.Hidden#form-image{type: "file"}
      %input.MessageForm__Form__send{type: "submit",value: "Send"}