.SideBar
  .SideBar__UserName
    .SideBar__UserName__TopItems
      .SideBar__UserName__TopItems__name
        %p test
      %ul.SideBar__UserName__TopItems__Icons
        %li.SideBar__UserName__TopItems__Icons__icon
          %a{href: "#"}
            %i.fas.fa-edit
        %li.SideBar__UserName__TopItems__Icons__icon
          %a{href: "#"}
            %i.fas.fa-cog
  .SideBar__GroupList
    .SideBar__GroupList__Group
      .SideBar__GroupList__Group__name
        %p グループ名
      .SideBar__GroupList__Group__message
        %p メッセージ
    .SideBar__GroupList__Group
      .SideBar__GroupList__Group__name
        %p グループ名
      .SideBar__GroupList__Group__message
        %p メッセージ
    .SideBar__GroupList__Group
      .SideBar__GroupList__Group__name
        %p グループ名
      .SideBar__GroupList__Group__message
        %p メッセージ
    .SideBar__GroupList__Group
      .SideBar__GroupList__Group__name
        %p グループ名
      .SideBar__GroupList__Group__message
        %p メッセージ