.SideBar
  .UserName
    .UserName__TopItems
      .UserName__TopItems__name
        %p test
      %ul.UserName__TopItems__Icons
        %li.UserName__TopItems__Icons__icon
          = link_to "#" do
            %i.fas.fa-edit
        %li.UserName__TopItems__Icons__icon
          = link_to "#" do
            %i.fas.fa-cog
  .GroupList
    .GroupList__Group
      .GroupList__Group__name
        %p グループ名
      .GroupList__Group__message
        %p メッセージ
    .GroupList__Group
      .GroupList__Group__name
        %p グループ名
      .GroupList__Group__message
        %p メッセージ
    .GroupList__Group
      .GroupList__Group__name
        %p グループ名
      .GroupList__Group__message
        %p メッセージ
    .GroupList__Group
      .GroupList__Group__name
        %p グループ名
      .GroupList__Group__message
        %p メッセージ